
.panel-body {
    padding: 10px 5px !important;
}

.navbar-fixed-top, .navbar-static-top {
    background: #0e9aef none repeat scroll 0 0 !important;
}

.nav.navbar-right > li > a,
.minimalize-styl-2 {
    color: #ffffff !important;
}

.nav.navbar-right > li > a {
    font-weight: 300;
}

.minimalize-styl-2 {
    margin: 12px 5px 5px 15px !important;
}

.navbar-right {
    float: right !important;
    margin-right: 15px !important;
}

.navbar-header-custom {
    display: block;
    float: left;
    height: 50px;
    padding: 20px 20px;
    width: auto;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}

.modal-footer {
    text-align: center !important;
    background-color: #eeeeee;
    border-radius: 4px;
}

.modal-dialog {
    top: 25% !important
}

.select-wrapper span.caret {
    border: medium none !important;
    width: inherit;
}

.dropdown-content li > a, .dropdown-content li > span {
    padding: 5px 7px !important;
    font-size: 1rem !important;
}

.dropdown-content li {
    min-height: inherit !important;
}

.modal .modal-footer {
    background-color: #f1f1f1 !important;
}

.dropdown-content li > a,
.dropdown-content li > span {
    color: #000000 !important;
}

.dropdown-content li.disabled > span {
    color: #666666 !important;
}

a.modal-action {
    font-size: 13px !important;
}

.sk-spinner-double-bounce .sk-double-bounce1, .sk-spinner-double-bounce .sk-double-bounce2,
.pace .pace-progress {
    background-color: #14a3fa !important;
}
.font-16 {
    font-size: 16px !important;
}
.font-14 {
    font-size: 14px !important;
}
.font-11 {
    font-size: 11px !important;
}
.font-8 {
    font-size: 8px !important;
}
.not-active-anchor {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
}
.btn-floating i {
    font-size: 1.3rem !important;
    line-height: 38px !important;
}
.img-circle {
    border: 1px solid #209de9 !important;
}

.fixed-action-btn {
    right: 18px !important;
    bottom: 23px !important;
    display: inline-flex;
}