.google_style{
    margin-bottom: 10px !important;
}
#filter_result{
    font-size: 12px;
}
#page-wrapper{
    margin-left: 0 !important;
}
.district-default{
    display: block !important;
}
.tab-item{
    background-color: #f3f3f4;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    float: left;
    margin-left: 2px;
    padding: 10px 20px;
    text-align: center;
    width: 200px;;
}
.tab-item a{
    color: #000;
    display: block;
}
.tab-item.active{
    background-color: #1c84c6;
}
.tab-item.active a{
    color: #fff;
}
.l2e_report{
    width: 80%;
    margin: 0 auto 20px;
    font-size: 12px;
}
.l2e_report table{
    width: 100%;
}
.l2e_report td{
    border-right: 1px solid #000;
    border-top: 1px dashed #000;
    border-bottom: 1px dashed #000;
    text-align: center;
    padding: 3px 6px;
}
.l2e_report tr td:first-child{
    border-left: 1px solid #000;
    width: 270px;
}
.l2er-td-name{
    text-align: center;
    background-color: #FED86E;
    font-weight: bold;
}
.l2er-tr-stage td{
    background-color: #FFFD38;
    color: #FC091C;
    font-weight: bold;
}
.l2er-tr-stage td:first-child{
    text-align: left;
}
.l2er-td-process {
    text-align: left !important;
}
.l2er-td-total{
    font-weight: bold !important;
    background-color: #FDBF2D !important;
}
.l2er-td-total-stage{
    color: #FC091C !important;
}
.l2er-total-bottom{
    background-color: #FDBF2D;
    font-weight: bold;
}
.view-report{
    text-align: center;
    color: #FC091C;
    margin-top: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}
.color-red{
    color: #FC091C;
}
.color-blue{
    color: #1c84c6;
}

.table-vertical-middle td,
.table-vertical-middle th{
    vertical-align: middle !important;
}
.choose-processer{
    text-decoration: underline;
    color: #1ab394 ;
    cursor: pointer
}
.is_ftsa {
    color: #fc091c;
    font-size: 9px;
    margin-left: 5px;
}